---
http_interactions:
- request:
    method: get
    uri: http://www.overpass-api.de/api/xapi?*%5Bmaxspeed%5D=*%5D%5Bbbox=-122.492603,48.748551,-122.47260299999999,48.768550999999995%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/osm3s+xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <osm version="0.6" generator="Overpass API">
        <note>The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.</note>
        <meta osm_base="2015-05-01T19:20:02Z"/>

          <node id="37061652" lat="48.7630290" lon="-122.4759240"/>
          <node id="37061654" lat="48.7630260" lon="-122.4750880">
            <tag k="highway" v="traffic_signals"/>
          </node>
          <node id="37061656" lat="48.7630270" lon="-122.4736270"/>
          <node id="37061658" lat="48.7630270" lon="-122.4721750"/>
          <node id="37061660" lat="48.7630270" lon="-122.4707240"/>
          <node id="37061662" lat="48.7630260" lon="-122.4692730"/>
          <node id="37061664" lat="48.7630260" lon="-122.4678210"/>
          <node id="37061665" lat="48.7630260" lon="-122.4663690"/>
          <node id="37061666" lat="48.76[...]
