// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#speed-container
  .speed
    font-size: 36px

#speed-limit-container
  width: 300px
  margin: 100px auto
  height: 300px
  border-radius: 10px
  border: 2px solid black
  text-align: center
  #speed-limit
    font-size: 160px
    line-height: 300px
