// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#speed-container
  margin-top: 10px
  .speed
    font-size: 36px

$six-plus-width: 414
$six-width: 375
$five-width: 320
$height: 250px

#speed-limit-container
  width: $height
  height: $height
  border-radius: 10px
  border: 2px solid black
  text-align: center
  position: fixed
  top: 50%
  margin-top: -($height / 2)
  margin-left: -($height / 2)
  left: 50%
  #speed-limit
    font-size: 120px
    line-height: $height * 2/3
  #speed-limit-label
    font-size: 30px
    line-height: $height * 1/8
    margin-top: 20px
    display: inline-block
    letter-spacing: 8px
    > span
      display: inline-block

#app
  min-height: 100%
  overflow: hidden

html
  height: 100%
  body
    height: 100%
